p {
    color:red;
}

section {
    border: 5px solid gray;
    background-color:lightblue;
    
}

ul {
    outline: 5px black solid;
}

li {
    padding: 10px;
    outline: 3px black solid;
}

h1 {
    text-align: center;
    color: green;
}
h2{
    text-align: center;

script {
        text-align: center;
}

section {
    padding: 100px;
}