p {
    color:red;
}

section {
    border: 5px solid red;
    background-color:lightblue;
    
}

ul {
    outline: 1px black solid;
}

li {
    outline: 1px black solid;
}

h1 {
    color: green;
}

